$main-color:#67B930;
$color1:#333333;
$color2:#111111;
$color3:#484848;
$color4:#CCCCCC;
$font1:60px;
$font2:40px;
$font3:25px;
$font4:24px;
$font5:30px;
$font6:22px;
$font7:14px;
$font17:17px;
$font20:20px;
$font50:50px;
$font21:21px;